/*FONT-FAMILY*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', Helvetica, Arial, sans-serif;
}
h1 {
	position: relative;
	z-index: 1;
	font-size: 3.815em;
	font-family: 'Merriweather', Times, serif;
	color: #000000;
	text-align: right;
	/*opacity: 100%;*/
	color:#ff7272;
	margin-top: -15%;
	margin-right: 10%;
}
h2 {
	color:#ffb385;
	font-size: 2.441em;
	margin: 20px 0;
	text-align: left;
	z-index: 1;
}
p {
	font-family: 'Merriweather', Times, serif;
	margin: 20px 0;
	color:#000000;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.8em;
	z-index: 1;
}

/*COLOR PALLETE*/
a.mustard:hover {
	background-color: #ffd31d;
	padding:10px 20px;
}
a.beige:hover {
	background-color: #fae7cb;
	padding:10px 20px;
}
a.peach:hover {
	background-color: #ffb385;
	padding:10px 20px;
}
a.pink:hover {
	background-color: #ff7272;
	padding:10px 20px;
}

.slideInUp.slideInUp2 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s; 
}
.slideInUp.slideInUp3 {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s; 
}
