/*FONT-FAMILY*/
h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}
h1 {
	position: relative;
	z-index: 1;
	font-size: 5.16em;
	/*line-height: 5.16em;*/
	font-family: 'Merriweather', Times, serif;
	color: #000000;
	text-align: right;
	color: #ff7272;
	margin: 0;
	margin-top: -5%;
	margin-right: 10%;
}
h2 {
	color:#ffb385;
	font-size: 2.441em;
	margin: 20px 0;
	text-align: left;
	text-transform: uppercase;
	z-index: 1;
}

h3 {
	color:#313639;
	font-size: 2.074em;
	letter-spacing: 1px;
	text-align: right;
	margin: 0;
	margin-right: 10%;
}
p {
	font-family: 'Merriweather', Times, serif;
	margin: 20px 0;
	color:#000000;
	text-align: left;
	font-size: 1.2em;
	line-height: 1.8em;
	z-index: 1;
}

/*COLOR PALLETE*/
a.mustard:hover {
	background-color: #ffd31d;
	padding:20px 20px;
}
a.beige:hover {
	background-color: #fae7cb;
	padding:20px 20px;
}
a.peach:hover {
	background-color: #ffb385;
	padding:20px 20px;
}
a.pink:hover {
	background-color: #ff7272;
	padding:20px 20px;
}

.slideInUp.slideInUp2 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s; 
}
.slideInUp.slideInUp3 {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s; 
}
